<div class="container">
  <div class="header">
    <div class="title" (click)="emitElementClickEvent()">{{title}}</div>
    <div class="buttons">
      <ion-button fill="clear" color="dark" (click)="emitStarClickEvent()">
        <ion-icon *ngIf="!starred" [hidden]="!starred" name="star-outline"></ion-icon>
        <ion-icon *ngIf="starred" [hidden]="starred" name="star"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="dark" (click)="emitLocateClickEvent()">
        <ion-icon name="location-outline"></ion-icon>
      </ion-button>
    </div>
  </div>

  <div class="content">
    <ion-avatar>
      <ion-img *ngIf="!photo" alt="Silhouette of a person's head"
               src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
      <ion-img class="photo" *ngIf="photo" [src]="'data:image/jpeg;base64,' + photo"/>
    </ion-avatar>
    <div class="details">
      <div class="line">
        <p>Valutazione</p>
        <app-rating
          [editable]="false"
          [rating]="rate"
          [icon_name]="'star'"
          [colorSchema]="ColorSchemaType.GRYG"/>
      </div>
      <div class="line">
        <p>Difficoltà</p>
        <app-rating
          [editable]="false"
          [rating]="difficulty"
          [icon_name]="'ellipse'"
          [colorSchema]="ColorSchemaType.GGYR"/>
      </div>
    </div>
  </div>
</div>

