.container {
  padding: 0 20px;
}

ion-img {
  width: 100%;
  margin-bottom: 10px;
}

ion-img::part(image) {
  border-radius: 10px;
}

.description {
  height: 130px;
  overflow-y: auto;
  border: 1px solid #ddd; /* Aggiungi una sottile bordatura intorno alla descrizione */
  padding: 10px; /* Aggiungi spazio interno alla descrizione per un aspetto migliore */
  border-radius: 10px;
  vertical-align: top;
  font-size: 14px;
}

.column {
  align-content: center;

  p {
    text-align: center;
    font-weight: bold;
  }
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  border-top: 1px solid #ddd; /* Aggiungi una sottile linea superiore per separare i dettagli dalla descrizione */
  border-bottom: 1px solid #ddd; /* Aggiungi una sottile linea superiore per separare i dettagli dalla descrizione */
  margin: 10px 0;
}

/* Aggiungi margini al pulsante per spazio extra */
ion-button {
  width: 100%;
  margin-top: 10px;
  --border-radius: 10px;
  --padding-start: 10px;
  --padding-end: 10px;
  --padding-top: 12px;
  --padding-bottom: 12px;
}

ion-header {
  ion-toolbar {
    display: flex;
    justify-content: space-between; /* Allinea titolo e pulsanti verticalmente */
    align-items: center;
    max-height: 50px;

    ion-buttons {
      ion-back-button {
        --icon-color: black; /* Colore nero per la freccia di ritorno */
        --color: black; /* Colore nero per il testo */
        max-height: 30px;
      }

      ion-button {
        --color: black; /* Colore nero per il testo dei pulsanti */
        margin-left: 8px; /* Aggiungi margine sinistro tra i pulsanti */
        margin-bottom: 15px;
      }

      max-height: 30px;
    }

    ion-title {
      font-size: 18px; /* Dimensione del carattere del titolo */
      font-weight: bold; /* Grassetto per il titolo */
      color: black; /* Colore nero per il titolo */
      max-width: 70%; /* Larghezza massima del titolo per garantire che il testo non superi i pulsanti */
      padding-inline: 0 !important;
    }
  }

  margin-bottom: 10px;
}

ion-item.review-item {
  .review-container {
    border: 1px solid #ddd; /* Aggiungi bordino grigio */
    border-radius: 10px; /* Angoli arrotondati */
    padding: 10px; /* Spaziatura interna del container */
    width: 100%;
  }

  h5.review-title {
    font-weight: bold; /* Titolo in grassetto */
    margin: 0; /* Rimuovi margini per il titolo */
    font-size: 16px;
  }

  .rating {
    margin-left: 10px; /* Spazio tra il nome e la valutazione */
  }

  p.review-comment {
    margin-top: 10px; /* Spazio tra il titolo e il commento */
    font-size: 13px;
  }
}

.reviews {
  height: 250px;
  border: 1px solid #ddd; /* Aggiungi bordino grigio */
  border-radius: 10px; /* Angoli arrotondati */
  overflow: scroll;
}

capacitor-google-map {
  display: flex;
  width: 100%;
  height: 100%;
}

.mappa {
  position: fixed;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: white;

  height: 0;
  visibility: hidden;

  /* Mostra la mappa quando la classe 'visible' è presente */
  &.visible {
    height: calc(100vh - 55px);
    visibility: visible;
  }
}


