<ion-content [fullscreen]="true" *ngIf="cache as c">
  <!-- cache-detail-with-review.page.html -->

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ c.title }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="onStarClick()">
          <ion-icon name="star"></ion-icon>
        </ion-button>
        <ion-button (click)="onMapClick()">
          <ion-icon name="map"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="container">
      <ion-img [src]="'data:image/jpeg;base64,' + c.photo"></ion-img>
      <div class="description">
        <p>{{ c.description }}</p>
      </div>
      <div class="details">
        <div class="line">
          <p>Valutazione</p>
          <app-rating
            [editable]="false"
            [rating]="c.getRating()"
            [icon_name]="'star'"
            [colorSchema]="ColorSchemaType.GRYG"
          ></app-rating>
        </div>
        <div class="line">
          <p>Difficoltà</p>
          <app-rating
            [editable]="false"
            [rating]="c.difficulty"
            [icon_name]="'ellipse'"
            [colorSchema]="ColorSchemaType.GGYR"
          ></app-rating>
        </div>
      </div>
      <ion-button>{{c.creatorId === user.id ? 'MODIFICA CACHE' : 'ATTIVA CACHE'}}</ion-button>
    </div>
  </ion-content>

</ion-content>
