.box {
  border: 1px solid var(--ion-color-medium); /* Aggiungi bordino grigio */
  border-radius: 10px; /* Angoli arrotondati */
  overflow: scroll;
  padding: 10px 20px 5px;
}

.hint-box {
  height: 15.5vh;
  width: 100%;
  overflow: auto;
}

.buttons {
  display: flex;
  height: 15%;

  div {
    width: 100%;
  }

  ion-icon {
    height: 6vw;
    width: 6vw;
  }
}

.line {
  display: flex;

  h4 {
    font-weight: bold;
  }


  ion-icon {
    margin-top: 1vh;
    width: 8vw;
    height: 8vw;
  }
}

.align {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    text-align: center;
  }
}
