.page-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;

  .page-dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;

    &.active {
      background-color: #00bf63; /* Cambia il colore del pallino attivo qui */
    }
  }
}
