ion-toolbar {
  padding: 0 3%
}

ion-button {
  width: 3em;
  height: 3em;
  --border-radius: 30%;
}

.item {
  padding: 2%;
  border-radius: 20%;
  border-width: 2px;
}

.item-title {
  display: inline-block
}

ion-img {
  width: 20%;
  height: 20%;
}
