<ion-content [fullscreen]="true">
  <ion-toolbar color="transparent">
    <ion-button slot="start" (click)="showMenu()">
      <ion-icon name="menu"/>
    </ion-button>
    <ion-button slot="end" (click)="showFilter()">
      <ion-icon name="filter"/>
    </ion-button>

    <ion-modal
      [isOpen]="true"
      [initialBreakpoint]="0.1"
      [breakpoints]="[0.1, 0.25, 0.5, 0.75]"
      [backdropDismiss]="false"
      [backdropBreakpoint]="0.5">
      <ng-template>
        <ion-list>
          <ion-item *ngFor="let item of findCaches; let i = index">
            <div class="item">
              <div class="item-title">
                <h5>{{item.title}}</h5>
                <ion-buttons slot="end">
                  <ion-icon name="star" [hidden]="[item.starred]"></ion-icon>
                  <ion-icon name="star-outline" [hidden]="[!item.starred]"></ion-icon>
                </ion-buttons>
              </div>
              <ion-img src="assets/img/logo.svg"></ion-img>
            </div>
          </ion-item>
        </ion-list>
      </ng-template>
    </ion-modal>
  </ion-toolbar>
</ion-content>
