<!--
<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>CHACEALGE</ion-title>
    <ion-button slot="end" fill="clear" color="dark">
      <ion-icon name="filter"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
-->
<ion-content [fullscreen]="true">
  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button>
      <ion-menu-button color="dark"/>
    </ion-fab-button>
  </ion-fab>
  <ion-fab slot="fixed" vertical="top" horizontal="end">
    <ion-fab-button id="filter-btn">
      <ion-icon name="filter" color="dark"/>
    </ion-fab-button>
  </ion-fab>

  <ion-popover trigger="filter-btn" triggerAction="click" [isOpen]="isOpen">
    <ng-template>
      <ion-header class="ion-padding">
        <ion-title>Imposta filtri</ion-title>
      </ion-header>
      <ion-content class="ion-padding">
        <app-rating></app-rating>
        <div class="filter-btns">
          <ion-button>Applica</ion-button>
          <ion-button fill="outline" (click)="isOpen=false; console.log('cancella')">Cancella</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-popover>

  <div class="map-container">
    <capacitor-google-map #map></capacitor-google-map>
  </div>
</ion-content>
