ion-fab-button::part(native) {
  border-radius: 20%;
  width: 70%;
  height: 70%;

}

ion-popover {
  --width: 96vw;
  --offset-y: -7vh;
  --offset-x: 1vw;

  ion-title {
    text-align: center;
  }

  ion-item {
    vertical-align: center;
  }

  ion-range {
    padding-bottom: 2vh;
    padding-right: 2vw;
    max-width: 40%;
  }

  .filter-btn {
    margin-top: 1vh;
    display: flex;
  }

  #space {
    margin: auto;
    visibility: hidden;
  }
}

capacitor-google-map {
  display: flex;
  width: 100%;
  height: 100%;
}

app-cache-item-list{
  width: 100%;
}

.md body,
ion-content {
  --background: none;
}

