<ion-content [fullscreen]="true">
  <ion-img src="assets/img/logo.svg"></ion-img>
  <h1>CACH<span class="bicolor">EAGLE</span></h1>
  <form [formGroup]="registrationFormModule">
    <ion-input id="email" type="email"
               label="Email" labelPlacement="floating"
               fill="outline"
               formControlName="email"
               class="formItem"/>
    <ion-input id="username" type="username"
               label="Username" labelPlacement="floating"
               fill="outline"
               formControlName="username"
               class="formItem"/>
    <ion-input id="password" type="password"
               label="Password" label-placement="floating"
               fill="outline"
               formControlName="password"
               class="formItem"/>
    <ion-input id="passwordControl" type="password"
               label="Conferma Password" label-placement="floating"
               fill="outline"
               formControlName="passwordControl"
               class="formItem"/>
    <ion-button (click)="onCreate()" class="formItem">REGISTRATI</ion-button>
    <ion-button (click)="onCancel()" class="formItem">ANNULLA</ion-button>
  </form>
</ion-content>
