ion-img {
  margin: 10% 20% 5%;
}

h1 {
  margin: 0 20%;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}

.bicolor {
  color: var(--ion-color-primary);

}

form {
  margin: 5% 10% 10%;
}

.formItem {
  margin-top: 5%;
}

ion-button {
  width: 100%;
}
