ion-item.review-item {
  .review-container {
    border: 1px solid #ddd; /* Aggiungi bordino grigio */
    border-radius: 10px; /* Angoli arrotondati */
    padding: 10px; /* Spaziatura interna del container */
    width: 100%;
  }

  h5.review-title {
    font-weight: bold; /* Titolo in grassetto */
    margin: 0; /* Rimuovi margini per il titolo */
    font-size: 16px;
  }

  .rating {
    margin-left: 10px; /* Spazio tra il nome e la valutazione */
  }

  p.review-comment {
    margin-top: 10px; /* Spazio tra il titolo e il commento */
    font-size: 13px;
  }

  margin-bottom: 10px;
}

.box {
  border: 1px solid #ddd; /* Aggiungi bordino grigio */
  border-radius: 10px; /* Angoli arrotondati */
  overflow: scroll;

  h3 {
    padding: 60px 10px;
    text-align: center;
    opacity: .8;
  }

}
