<div *ngIf="editable" class="rating-container" [style.width]="width" [style.height]="height">
  <ion-icon class="rating-icon" *ngFor="let index of [1, 2, 3, 4, 5]" [style.color]="getColor(index)"
            (click)="rate(index)" name="{{icon_name}}">
  </ion-icon>
</div>

<div *ngIf="!editable" class="rating-container" [style.width]="width" [style.height]="height">
  <ion-icon class="rating-icon" *ngFor="let index of [1, 2, 3, 4, 5]" [style.color]="getColor(index)"
            name="{{icon_name}}">
  </ion-icon>
</div>
