.rating-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .rating-icon {
    width: calc(100% / 5);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
