<div class="box">

  <div class="img">
    <ion-avatar>
      <ion-img *ngIf="!photo" alt="Silhouette of a person's head"
               src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
      <ion-img class="photo" *ngIf="photo" [src]="'data:image/jpeg;base64,' + photo"/>
    </ion-avatar>
  </div>
  <div class="body">
    <div class="cash-name">
      <h6>Titolo cash molto lungo percè sarà sicuramente così </h6>
    </div>
    <div class="stats">
      <h6>00000</h6>
      <ion-icon class="dim" name="footsteps-outline"></ion-icon>
      <div class="space"></div>
      <h6>00:00</h6>
      <ion-icon class="dim" name="stopwatch-outline"></ion-icon>
    </div>
  </div>
</div>
