.box {
  margin-left: 3.5vw;
  border-radius: 10px;
  border: 2px solid var(--ion-color-medium);
  outline: none;
  position: absolute;
  bottom: 3vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box .cash-name {
  display: flex;
  justify-content: space-between;
  flex: 1;
  width: 100%;

  ion-icon {
    padding-top: 1.5vh;
    padding-right: 2vw;
    color: var(--ion-color-success);
  }
}

.box .cash-name h6 {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
}

.box .body {
  display: flex;
  align-items: center;
  flex: 2;
  width: 100%;
}

.box .img {
  flex: 1;
  margin-right: 2vw;
}

.box .img ion-avatar {
  width: 8vh;
  min-height: 8vh;
  --border-radius: 4px;
  object-fit: cover;
}

.box .stats {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.box .stats h6 {
  flex: 1;
  display: flex;
  align-items: center;
}

.box .stats .dim {
  height: 2vh;
  width: 2vh;
  margin-right: 1vw;
}

/* Optional: Add some spacing between elements */
.box {
  padding: 0 2vw;
}

.box .cash-name {
  margin-left: 2%;
  margin-right: 2%;
}
