#space {
  width: 3vw;
  visibility: hidden;
}

ion-title {
  text-align: center;
  width: 100%;
  font-weight: bold;
}

form {
  padding: 0 4vw;

  ion-input {
    margin: 0 0 1vh;
  }

  ion-thumbnail {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
    --border-radius: 10px;
  }

  ion-img {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
  }

  ion-img::part(image) {
    border-radius: 10px;
  }

  ion-textarea {
    margin: 1vh 0;
    height: 9.5vh;
  }

  .border {
    padding: 1.5vh;
    display: flex;
    height: 5vh;
    border-radius: 2px;
    border: solid 0.5px #b3b3b3;

    div {
      margin: auto;
      visibility: hidden;
    }
  }
}

#photoBtn {
  margin-bottom: 5px;
}

.buttons {
  display: flex;
  padding: 0 4vw;
  height: 5vh;

  div {
    margin: auto;
    visibility: hidden;
  }

  ion-button {
    width: 30vw;
  }
}

.gif {
  height: calc(100vh - 5vh - 70px);
  width: 100%;
}

