<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title>Nuova Cache</ion-title>
  </ion-toolbar>
  <div *ngIf="page === 1">
    <form [formGroup]="cacheFormModule">
      <ion-input id="title" type="text"
                 label="Titolo*" labelPlacement="floating"
                 fill="outline"
                 formControlName="title"
                 class="formItem"
                 style="margin-top: 5px"/>
      <ion-button (click)="addPhoto()" id="photoBtn">
        <ion-icon name="camera-outline"/>
        <div id="space"></div>
        <ion-label>Scatta foto</ion-label>
      </ion-button>
      <ion-thumbnail *ngIf="!photo">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg"/>
      </ion-thumbnail>
      <ion-img class="photo" *ngIf="photo" [src]="'data:image/jpeg;base64, ' + photo.base64String"></ion-img>
      <ion-textarea id="description" type="text"
                    label="Descrizione*" label-placement="floating"
                    fill="outline"
                    formControlName="description"
                    class="formItem"/>
      <div class="border">
        <ion-label>Difficoltà*</ion-label>
        <div></div>
        <app-rating [rating]="difficulty" [icon_name]="'ellipse'"
                    (ratingChange)="updateDifficulty($event)"></app-rating>
        <div></div>
      </div>

      <ion-textarea id="hint1" type="text"
                    label="Suggerimento 1*" label-placement="floating"
                    fill="outline"
                    formControlName="hint1"
                    class="formItem"/>
      <ion-textarea id="hint2" type="text"
                    label="Suggerimento 2" label-placement="floating"
                    fill="outline"
                    formControlName="hint2"
                    class="formItem"/>
      <ion-textarea id="hint3" type="text"
                    label="Suggerimento 3" label-placement="floating"
                    fill="outline"
                    formControlName="hint3"
                    class="formItem"/>
    </form>

    <div class="buttons">
      <ion-button fill="outline" (click)="navController.navigateBack('sections/mycaches')">ANNULLA</ion-button>
      <div></div>
      <ion-button (click)="onSubmit()">{{cache ? 'SALVA' : 'AVANTI'}}</ion-button>
    </div>
  </div>
  <div *ngIf="page === 2">
    <h5 class="instruction">Posiziona il telefono vicino alla cache e premi "AVANTI"</h5>
    <ion-img class="gif" src="assets/gif/posizione1.gif"></ion-img>
    <div class="buttons">
      <ion-button fill="outline" (click)="page = 1">INDIETRO</ion-button>
      <div></div>
      <ion-button (click)="page = 3; getPosition(); startGif1Timer()">AVANTI</ion-button>
    </div>
  </div>
  <div *ngIf="page === 3">
    <h5 *ngIf="!enable" class="instruction">Rilevamento della posizione in corso.<br>Non spostare il dispositivo!</h5>
    <h5 *ngIf="enable" class="instruction success">Posizione calcolata con successo</h5>
    <ion-img class="gif" src="{{path}}"></ion-img>
    <div class="buttons">
      <ion-button fill="outline" (click)="page = 2; ready = false">RICALCOLA</ion-button>
      <div></div>
      <ion-button (click)="onSave()" disabled="{{!enable}}">SALVA</ion-button>
    </div>
  </div>
</ion-content>
