<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title size="large"><strong>Completati</strong></ion-title>
  </ion-toolbar>
  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button>
      <ion-menu-button color="dark"/>
    </ion-fab-button>
  </ion-fab>
  <div *ngIf="cachesList.length>0">
  <ion-list *ngFor="let cache of cachesList; let i = index">
    <ion-item>
      <ion-avatar>
        <img alt="Silhouette of a person's head"
             src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
      </ion-avatar>
      <ion-label>{{cache.title}}</ion-label>
      <ion-button fill="clear">
        <ion-icon name="information-circle-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  </div>
  <div class="box" *ngIf="cachesList.length<=0">
    <h3>Nessuna cache completata</h3>
  </div>
</ion-content>
