ion-img {
  margin: 10% 20% 5%;
}

h1 {
  margin: 0 20%;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}

.bicolor {
  color: var(--ion-color-primary);

}

form {
  margin: 20% 10% 10%;
}

.formItem {
  margin-top: 5%;
}

ion-button {
  width: 100%;
}

ion-backdrop {
  opacity: 0.4;
  background: var(--ion-color-light);
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
