.container {
  padding: 0 20px;
}

ion-img {
  aspect-ratio: 16/9;
  width: 100%;
  margin-bottom: 10px;
}

ion-img::part(image) {
  background-color: black;
  border-radius: 10px;
}

.description {
  height: 150px;
  overflow-y: auto;
  border: 1px solid #ddd; /* Aggiungi una sottile bordatura intorno alla descrizione */
  padding: 10px; /* Aggiungi spazio interno alla descrizione per un aspetto migliore */
  border-radius: 10px;
  vertical-align: top;
  font-size: 14px;
}

.line {
  width: 100%;
  display: flex;

  p {
    text-align: center;
    font-weight: bold;
    margin-left: 12vw;
  }

  app-rating {
    margin-top: 2vh;
    margin-left: 5vw;
  }
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  border-top: 1px solid #ddd; /* Aggiungi una sottile linea superiore per separare i dettagli dalla descrizione */
  border-bottom: 1px solid #ddd; /* Aggiungi una sottile linea superiore per separare i dettagli dalla descrizione */
  margin: 10px 0;
}

/* Aggiungi margini al pulsante per spazio extra */
ion-button {
  width: 100%;
  --border-radius: 10px;
  --padding-start: 10px;
  --padding-end: 10px;
  --padding-top: 12px;
  --padding-bottom: 12px;
}

ion-header {
  ion-toolbar {
    display: flex;
    justify-content: space-between; /* Allinea titolo e pulsanti verticalmente */
    align-items: center;
    max-height: 50px;

    ion-buttons {
      ion-back-button {
        --icon-color: black; /* Colore nero per la freccia di ritorno */
        --color: black; /* Colore nero per il testo */
        max-height: 30px;
      }

      ion-button {
        --color: black; /* Colore nero per il testo dei pulsanti */
        margin-left: 8px; /* Aggiungi margine sinistro tra i pulsanti */
      }

      max-height: 30px;
    }

    ion-title {
      font-size: 18px; /* Dimensione del carattere del titolo */
      font-weight: bold; /* Grassetto per il titolo */
      color: black; /* Colore nero per il titolo */
      max-width: 100%; /* Larghezza massima del titolo per garantire che il testo non superi i pulsanti */
      padding-inline: 0 !important;
    }
  }

  margin-bottom: 10px;
}

.animated-elements {
  display: flex;
  overflow-x: hidden; // Aggiungi questa proprietà per nascondere il contenuto che supera la larghezza del componente
  width: 100%; // Riduci la larghezza per garantire che gli elementi scorrono in orizzontale
}

.slide-container {
  width: 89vw; // Larghezza pari alla larghezza della viewport per occupare interamente lo spazio
  flex-shrink: 0; // Impedisce al contenuto di restringersi quando c'è poco spazio
}


